nav {
    background-color: rgb(255, 255, 255);
    color: rgb(9, 4, 4);
   text-align: center;
    position:sticky;
    width: 100%; 
    top: 0px;
    transition: top 0.3s;
    padding: 10px;
    word-spacing: 150px;
    
}
nav .log {
    text-align: right;
    text-decoration: none;
   
}
body {
    background-image: url('images/syphone.PNG');
    background-size:20% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
}